<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul class="music-container">
      <li class="music-item">hehe </li>
    </ul>
  </body>
</html>
